header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;

  h1 {
    padding: 0;
    margin: 0;
  }

  nav {
    a {
      padding: 8px 16px;
      margin: 0 8px;
      border-radius: 4px;
      font-weight: 600;
      color: darkcyan;
      text-decoration: none;

      &:hover {
        background-color: rgba(0,139,139, 0.1);
      }

      &.active {
        background-color: darkcyan;
        color: white;
      }
    }
  }

  button.get-started {
    background: forestgreen;
    color: white;
  }
}

div.content {
  padding: 16px 32px;
  max-width: 1200px;
  margin: 80px auto 50px; // leave space for header and footer
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 16px 32px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}
