<div class="banner"></div>

<div class="content">
  <div class="section">
    <h1>Lorem ipsum dolor sit amet.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias architecto aut, beatae exercitationem
      itaque maxime neque qui sunt ut! Deleniti dolore eos expedita explicabo facere nemo porro quasi quis voluptas?
      Adipisci eligendi maiores odit, quibusdam quis sunt totam? Doloremque fugit numquam quis tempore ullam? Ab
      assumenda
      commodi doloremque error esse iusto libero minima obcaecati officiis quibusdam! Distinctio harum praesentium quae
      quibusdam similique ullam vel veritatis? Accusantium asperiores aspernatur atque autem cupiditate delectus
      deserunt
      dolore dolorem doloribus eius, facilis fuga libero modi nam, nemo nihil nisi nostrum, perferendis quia sit.
      Aliquid,
      beatae corporis cum expedita fuga fugit nam natus necessitatibus.</p>
  </div>


  <div class="section">
    <div class="banner"></div>
  </div>

  <div class="section actions">
    <button class="primary">Get Started</button>
  </div>

  <div class="section">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, hic.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias architecto aut, beatae exercitationem
      itaque maxime neque qui sunt ut! Deleniti dolore eos expedita explicabo facere nemo porro quasi quis voluptas?
      Adipisci eligendi maiores odit, quibusdam quis sunt totam? Doloremque fugit numquam quis tempore ullam? Ab
      assumenda
      commodi doloremque error esse iusto libero minima obcaecati officiis quibusdam! Distinctio harum praesentium quae
      quibusdam similique ullam vel veritatis? Accusantium asperiores aspernatur atque autem cupiditate delectus
      deserunt
      dolore dolorem doloribus eius, facilis fuga libero modi nam, nemo nihil nisi nostrum, perferendis quia sit.
      Aliquid,
      beatae corporis cum expedita fuga fugit nam natus necessitatibus.</p>
  </div>

  <div class="section">
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis dignissimos et, hic laudantium optio
      perferendis quae quaerat repudiandae tempora? Animi architecto blanditiis consectetur consequuntur cupiditate
      deserunt dolore eaque, est exercitationem id illo, inventore laborum mollitia neque quibusdam, quidem quos ut vel
      voluptatibus voluptatum. Adipisci aliquid corporis, cumque deleniti distinctio dolorum ducimus eos est facere, hic
      ipsa minima molestiae nam numquam odit pariatur praesentium provident quia sit soluta sunt veritatis vitae! Illum
      maxime, nam perspiciatis quisquam quo sit tempore. Eius facilis natus quam. Aliquid at exercitationem iste
      necessitatibus. Amet eaque esse expedita in magnam voluptates! At autem consequuntur cupiditate ea enim ipsam
      laborum quas, quis quod ratione reiciendis soluta sunt tempore tenetur totam veritatis, vitae voluptate
      voluptatem. Atque dolores eaque harum neque possimus sint soluta ullam. Alias atque dignissimos explicabo facere
      itaque libero magnam molestias nobis numquam repellat repellendus, tenetur, ut veniam! Ea explicabo non quae qui,
      quo repellat soluta temporibus. Atque iste maiores quam voluptatem. Adipisci beatae eligendi expedita nobis saepe!
      Animi blanditiis eius enim harum impedit itaque nulla possimus provident, repellendus soluta. Asperiores at
      dolorem eius in labore nemo officia recusandae? Aliquid aspernatur atque eius excepturi expedita hic inventore
      odio quia, quibusdam quis rerum voluptates? Eligendi, officiis, voluptates.</p>
  </div>
</div>
