:host {
  position: fixed;
  bottom: 0;
  padding: 16px 32px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}

.action {
  position: absolute;
  left: 0;
  margin: 0 2px;

  label {
    display: flex;
    align-items: center;
    margin: 0;

    input[type='checkbox'] {
      padding: 4px;
      margin: 6px 8px;
    }
  }
}

p {
  margin: 0;
  padding: 0 32px;
}

.button-group {
  position: absolute;
  right: 0;
  margin: 0 2px;

  button.restart-tour {
    margin: 0 2px;
    padding: 8px 12px;
    color: white;
    font-weight: 800;
    background-color: #FF6E00;
    outline: none;
  }
}
